# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
ENV/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
test-results.xml
hidden-test-results.xml
evaluation.md

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# mkdocs build
site/

# mypy
.mypy_cache/
.dmypy.json

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# MacOS
.DS_Store

# System files
Thumbs.db

# Hidden tests (keep confidential)
tests_hidden/test_hidden.py
!tests_hidden/README.md 